<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Word Finder</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="./scripts.js"></script>
</head>

<body>
    {%block nav%}
    <div class="nav">
        <div class="left">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#app">App</a></li>
                <div class="center">
                    <p>
                        Word Finder (Created by Victor Nguyen)
                    </p>
                </div>
            </ul>
        </div>
    </div>
    {%endblock%}
    <br>
    <br>
</body>

{%block footer%}
<div class="footer">
    <a href="https://github.umn.edu/nguy2875/CSCI4131_Word_List" id="repo">Github Repo Link</a>
</div>
{%endblock%}
</html>